* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #6d6e71;
}

body {
	background-image: url("../images/background5.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

h2 {
	font-weight: bold;
}

li {
	list-style: none;
}

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* -------------------------------------- *\
				TOP-HEADER
\* -------------------------------------- */
#top-header {
	display: block;
	width: 100%;
	height: 60px;
	background-color: #eceef4;
}

#top-header-social {
	float: right;
	margin-bottom: 0px;
	height: 60px;
	overflow: hidden;
}

#top-header-social li {
	float: left;
	padding: 20px;
	width: 65px;
	border-left: 1px solid #dee0e6;
	list-style: none;
}

#top-header-social li.last {
	content: "";
	border-right: 1px solid #dee0e6;
}

/* -------------------------------------- *\
				HEADER
\* -------------------------------------- */
#header {
	padding-top: 60px;
}

#header-logo {
	float: left;
}

#header-contact {
	width: 240px;
	height: 130px;
}

#header-contact .contact {
	position: relative;
	top: 15px;
}

#header-contact-popup {
	padding: 1em;
	width: 229px;
	height: 63px;
	background-image: url("../images/dialogue.png");
}

#img-contact1 {
	left: 145px;
}

#img-contact2 {
	left: 30px;
	padding-right: 23px;
	border-right: 1px solid #dee0e6;
}

/* -------------------------------------- *\
				NAV
\* -------------------------------------- */
nav {
	clear: both;
	display: block;
	width: 100%;
	height: 70px;
	background: #384958;
}

.wrapper {
	display: block;
	margin: 0 auto;
	width: 100%;
}

#menu {
	display: block;
	position: relative;
	z-index: 99;
}

#menu_home {
	display: block;
	width: 1em;
	background-image: url("../images/house-white.png");
}

#menu_home:hover {
	display: block;
	width: 1em;
	background-image: url("../images/house.png");
}

#menu li {
	display: block;
	float: left;
}

#menu li a {
	display: block;
	position: relative;
	float: left;
	padding: 0 35px;
	font-size: 1em;
	line-height: 70px;
	font-weight: bold;
	text-decoration: none;
	color: #f5f5f5;
}

#menu li a:hover, #menu li a.active {
	background: #fff;
	color: #2c343b;
}

#menu li ul {
	display: none;
	position: absolute;
	top: 70px;
	width: 200px;
	background: #fff;
	z-index: -1;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.45);
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.45);
}

#menu li ul li {
	display: block;
	width: 200px;
}

#menu li ul li a {
	display: block;
	float: none;
	color: #4e5b67;
	font-size: 0.95em;
	line-height: 50px;
	padding: 0 15px;
}

#menu li ul li a:hover {
	background: #384958;
	color: #fff;
}

#menu li ul.expanded {
	width: 400px;
}

#menu li ul.expanded li {
	margin-right: 200px;
}

#menu li ul li ul {
	display: none;
	position: absolute;
	left: 200px;
	top: 0;
	height: 100%;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#menu li ul li ul li a {
	color: #fff;
}

#menu li ul li ul li a:hover {
	text-decoration: underline;
}

#menu li ul li.purple a:hover, #menu li ul li.purple a.active {
	background: #4f4c83;
	color: #fff;
}

#menu li ul li.purple ul {
	background: #4f4c83;
}

#menu li ul li.green a:hover, #menu li ul li.green a.active {
	background: #65834c;
	color: #fff;
}

#menu li ul li.green ul {
	background: #65834c;
}

#menu li ul li.aqua a:hover, #menu li ul li.aqua a.active {
	background: #4c7983;
	color: #fff;
}

#menu li ul li.aqua ul {
	background: #4c7983;
	color: #fff;
}

#menu li ul li.red a:hover, #menu li ul li.red a.active {
	background: #834c4c;
	color: #fff;
}

#menu li ul li.red ul {
	background: #834c4c;
}

#menu li ul li.blue a:hover, #menu li ul li.blue a.active {
	background: #4d6899;
	color: #fff;
}

#menu li ul li.blue ul {
	background: #4d6899;
}

#menu li ul li.gold a:hover, #menu li ul li.gold a.active {
	background: #97944c;
	color: #fff;
}

#menu li ul li.gold ul {
	background: #97944c;
}

/* -------------------------------------- *\
				slider
\* -------------------------------------- */
#slider {
	display: block;
}

/* -------------------------------------- *\
				content
\* -------------------------------------- */
#content {
	overflow: hidden;
	height: auto;
	background-image: url("../images/background3.jpg");
	background-repeat: repeat;
	background-size: 100% auto;
	background-attachment: fixed;
}

#content2 {
	overflow: hidden;
	height: auto;
	background-image: url("../images/background6.jpg");
	background-repeat: repeat;
	background-size: 100% auto;
	background-attachment: fixed;
}

.section-pair h2, .section-impair h2 {
	margin-bottom: 1.5em;
}

.section-pair, .section-impair {
	position: relative;
	margin-bottom: 20em;
	padding: 5em 3em;
	width: 100%;
	min-height: 20em;
	text-align: center;
	z-index: 100;
}

.section-pair .container, .section-impair .container {
	position: relative;
	overflow: hidden;
	z-index: 200;
}

.section-pair {
	background-color: white;
}

.section-impair {
	background-color: rgba(8, 8, 8, 1);
}

.section-impair h2 {
	color: white;
}

.section-pair:after, .section-impair:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: skewY(-2deg);
	transform-origin: 100% 0;
	z-index: 99;
}

.section-pair:after {
	background-color: rgba(255, 255, 255, 0.4);
}

.section-impair:before {
	background-color: rgba(8, 8, 8, 0.4);
}

.last {
	margin-bottom: 0;
}

.last:after {
	transform: skewY(0);
}

#content {
	display: block;
}

#team-chef {
	display: block;
	margin: 2em auto 2em auto;
	width: 43em;
	height: auto;
}

.img-photo-chef img {
	float: left;
	border-radius: 30px;
}

.description {
	float: left;
	margin-left: 1em;
	padding: 4em 0.5em 0 0;
}

#teamwork {
	clear: both;
	margin: 5em auto;
	width: 95%;
}

.worker {
	margin: 5em 1em;
	padding: 1em 0em 2em 0em;
	float: left;
	width: 16%;
	height: auto;
	background-color: #f5f5f5;
	text-align: center;
}

.worker p{
	height: 3em;
}

.worker img {
	border-radius: 75px;
}

.img-photo img {
	width: 80%;
}

#packs {
	margin: 0 auto;
	width: 52em;
}

#packs h3{
	margin-top: 0;
}

#objectif p{
	font-weight: bold;
}

.pack {
	float: left;
	margin: 1em;
	width: 15em;
}

.pack .button{
	margin-top: 0.5em;
	}
	
.pack h5{
	margin-top: 1em;
	}

.pack img {
	width: 100%;
	height: 15em;
	background-color: white;
	box-shadow: 2px 2px 0px #c0c0c0;
}

.pack ul {
	margin-top: 1em;
	height: 8em;
}

.pack ul li{
	margin-left: 1em;
	text-align: left;
}

.button {
	display: block;
	margin: 2em auto;
	width: 10em;
	text-decoration: none;
	text-align: center;
	padding: 11px 32px;
	border: solid 1px #a7adb0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: 18px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0e0f0f;
	background-color: #f2f6f7;
	background-image: -moz-linear-gradient(top, #f2f6f7 0%, #ffffff 100%);
	background-image: -webkit-linear-gradient(top, #f2f6f7 0%, #ffffff 100%);
	background-image: -o-linear-gradient(top, #f2f6f7 0%, #ffffff 100%);
	background-image: -ms-linear-gradient(top, #f2f6f7 0%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ffffff', GradientType=0);
	background-image: linear-gradient(top, #f2f6f7 0%, #ffffff 100%);
	-webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	opacity: 0.72;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=72);
	filter: alpha(opacity = 72);
}

.linkedin {
	width: 90%;
}

#logiciels {
	margin: 0 auto;
	width: 48em;
}

#logiciels li{
	font-weight: bold;
}

.logiciel {
	float: left;
	margin: 0 2em;
	width: 20em;
}

.logiciel ul {
	padding-left: 2em;
}

.logiciel li {
	margin-top: 0.5em;
	text-align: left;
	list-style-type: square;
	font-size: large;
}

.logiciel img {
	
}

#objectif p {
	margin: 1em auto;
	width: 40em;
	font-size: large;
	text-align: justify;
}

/* -------------------------------------- *\
				footer
\* -------------------------------------- */
footer {
	clear: both;
	overflow: hidden;
	display: block;
	height: 20em;
	background-color: #2b2c2d;
}

.footer {
	margin: 0 auto;
	width: 63em;
}

.footer a, .footer p {
	color: white;
}

.block-footer {
	float: left;
	padding-left: 1em;
	width: 21em;
	height: 14em;
}

.block-footer h4 {
	margin: 1em 0;
	text-decoration: underline;
}

#reseau img {
	padding-right: 0.5em;
	float: left;
}

.block-footer p {
	margin-top: 1em;
	padding-top: 0.5em;
	padding-left: 1em;
}

/* -------------------------------------- *\
				a effacer
\* -------------------------------------- */