<div id="content">
	<section id="section_logiciel" class="section-impair">
		<div id="solutions" class="container">

			<h2>Nos solutions logicielles</h2>
			<div id="logiciels">
				<div class="logiciel">
					<img alt="" src="view/images/logo_echoos.png" height="150em">
					<ul>
						<li>Système léger spécialement optimisé pour les outils
							mobiles</li>
						<li>Doté d'un environnement simple et épuré</li>
						<li>Un catalogue de logiciels essentiels préinstallés</li>
					</ul>
				</div>
				<div class="logiciel">
					<img alt="" src="view/images/logo_lea.png" height="150em">
					<ul>
						<li>Une interface de reconnaissance vocale</li>
						<li>Une interface de synthèse vocale</li>
						<li>Des instructions complètes</li>
						<li>Possibilité de personnaliser les commandes</li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	<section id="section_pack" class="section-pair">
		<div id="packs" class="container">
			<h2>Quel pack est fait pour vous?</h2>
			<div id="packs">
				<div class="pack">
					<h3>Pack Découvert</h3>
					<img alt="" src="view/images/medaille_bronze.png"> 
					<ul>
						<li>Raspberry Pi modèle B+</li>
						<li>Carte SD 16go</li>
						<li>Microphone USB</li>
					</ul>
					<h5>Prix : 60€</h5>
					<h5>+1€ pour l'alimentation</h5>
					<a class="button">Commander</a>
				</div>
				<div class="pack">
					<h3>Pack Premium</h3>
					<img alt="" src="view/images/medaille_silver.png"> 
					<ul>
						<li>Raspberry Pi modèle B+</li>
						<li>Carte SD 32go</li>
						<li>Microphone USB</li>
						<li>Sortie audio</li>
						<li>Ecran 3.5 pouces</li>
					</ul>
					<h5>Prix : 100€</h5>
					<h5>+1€ pour l'alimentation</h5>
					<a class="button">Commander</a>
				</div>
				<div class="pack">
					<h3>Pack Deluxe</h3>
					<img alt="" src="view/images/medaille_gold.png">
					<ul>
						<li>Raspberry Pi modèle 2</li>
						<li>Carte SD 32go</li>
						<li>Microphone USB</li>
						<li>Sortie audio</li>
						<li>Ecran 3.5 pouces</li>
						<li>Caméra pour Raspberry Pi</li>
					</ul>
					<h5>Prix : 120€</h5>
					<h5>+1€ pour l'alimentation</h5>
					<a class="button">Commander</a>
				</div>
			</div>
		</div>
	</section>
</div>
<div id="content2">
	<section id="section_objectif" class="section-impair">
		<div class="container">
			<div id="objectif">
				<h2>L'objectif de notre projet</h2>
				<p>Dans un monde de plus en plus connecté, où le multitache est
					une pratique commune, nous pensons que l’utilisation d’un clavier
					ou d’une souris deviendra obsolète dans peu de temps. L’utilisation
					vocale d’un micro ordinateur est une solution encore peu connue du
					grand public mais qui laisse apparaître d’énormes possibilités
					notamment pour les personnes handicapées.</p>
			</div>

		</div>
	</section>

	<section id="section_contribuer" class="section-pair">
		<div class="container">
			<div id="contribuer">
				<h2>Retrouvez et contribuez les sources du projet sur Gitlab</h2>
				<a href="https://gitlab.com/ren324-1z/projet-pjs4-site" class="button" />GitLab</a>
			</div>
		</div>
	</section>

	<!-- partie de l'équipe -->
	<section id="section_team" class="section-pair last">
		<div id="team" class="container">
			<div id="team-chef">
				<div class="img-photo-chef">
					<img alt="Chef" src="view/images/equipe.png" width="185px">
				</div>
				<div class="description">
					<h2>Notre équipe</h2>
					<p>We have highly qualified staff with distinguished
						significant</p>
					<p>experiences in their field who work under pressure.</p>
				</div>
			</div>
			<div id="teamwork">
				
				<div class="worker">
					<div class="img-photo">
						<img alt="Chef" src="view/images/lohup.png">
					</div>
					<div class="description1">
						<h3>Miallet</h3>
						<p>Commercial et développeur</p>
						<a href="https://fr.linkedin.com/in/mialletlucas" class="button linkedin">LinkedIn</a>
					</div>
				</div>
				
				<div class="worker">
					<div class="img-photo">
						<img alt="AutreImage" src="view/images/jojo.png">
					</div>
					<div class="description1">
						<h3>Mignerey</h3>
						<p>Commercial et développeur</p>
						<a href="https://fr.linkedin.com/in/josselinmignerey" class="button linkedin">LinkedIn</a>
					</div>
				</div>

				<div class="worker">
					<div class="img-photo">
						<img alt="Chef" src="view/images/Ronan.png">
					</div>
					<div class="description1">
						<h3>Olive</h3>
						<p>Graphiste</p>
						<a class="button linkedin">LinkedIn</a>
					</div>
				</div>

				<div class="worker">
					<div class="img-photo">
						<img alt="Chef" src="view/images/starron.png">
					</div>
					<div class="description1">
						<h3>Silva</h3>
						<p>Commercial et développeur</p>
						<a href="https://www.linkedin.com/in/starronsilva" class="button linkedin">LinkedIn</a>
					</div>
				</div>

				<div class="worker">
					<div class="img-photo">
						<img alt="Chef" src="view/images/ren.png" width="155px">
					</div>
					<div class="description1">
						<h3>Zhou</h3>
						<p>Webmaster</p>
						<a href="http://fr.linkedin.com/pub/ren-zhou/68/a91/624" class="button linkedin">LinkedIn</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- fin partie de l'équipe -->
</div>