<header>
	<div id="header" class="container">
		<div id="header-logo">
			<img alt="logo" src="view/images/logo_entreprise.png" height="110px">
		</div>

		<div id="header-contact" class="right">
			<div id="header-contact-popup" class="right">
				<p>Trouvez nous ici</p>
			</div>
			<img id="img-contact1" class="contact" alt="location"
				src="view/images/location.png"> <img id="img-contact2"
				class="contact" alt="arroba" src="view/images/arroba.png">
		</div>
		<nav>
			<div class="wrapper">
				<ul id="menu" class="clearfix">
					<li><a href="#header" class="scrollTo">Home</a></li>
					<li><a href="#section_logiciel" class="scrollTo">Nos solutions</a>
						<ul>
							<li><a href="#section_logiciel" class="scrollTo">Logiciel</a></li>
							<li><a href="#section_pack" class="scrollTo">Matériel</a></li>
						</ul>
					</li>
					<li><a href="#section_objectif" class="scrollTo">Nos objectifs</a></li>
					<li><a href="#section_contribuer" class="scrollTo">J'y participe</a></li>
					<li><a href="#section_team" class="scrollTo">Qui sommes nous</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>